#navbar{
    background-color: #0a1612;
    position: fixed;
    width: 100%;
    top: 0;
    padding-left:10px
}
#navbar>a{
    background-color: #0a1612;
    color:#ecf0f1;
    padding: 15px;
    text-decoration: none;
    float: left;
    font-size: 14px;
}

#navbar>a:hover{
    background-color: #34434a;
}